<div class="container">
    <div class="content"><br>
      <h1 class="headline">Paris 2024 Olympics:<br>A new era for women in sport</h1><br>
    
      <p class="paragraph1">
        By Joseph Vishaal S<br>
        Published August 15, 2024 Last updated August 15, 2024  05:55
      </p><br>

      <p class="paragraph2">
        The game is changing. For the first time in history, the Paris 2024 Olympic<br>
        and Paralympic Games will see an equal number of men and women<br>
        competing. This 50:50 representation of athletes makes the Summer<br>
        Games the first to reach gender equality.
      </p>

      <p class="paragraph2">
        Progress does not stop there. With an expected global audience of 3<br>
        billion, this year’s Games have been deliberately scheduled to make<br>
        possible more balanced coverage of all events, putting all athletes in the<br>
        spotlight. The Games will also feature more women’s and mixed events,<br>
        offering more opportunities for women to win medals.
      </p><br>

      <h1 class="headline1">The rise of women's sport in numbers</h1><br>

      <img src="secondimg.png" alt="Graph Image" class="Graph-image"><br><br>

      <div class="boxx">
        <p class="paragraph3">
          of competing athletes at the Paris<br>
          Games are women.<br>
        </p>
      
        <p class="paragraph3">
          of people watch women’s sport,<br>
          but only 16% of 2022 sports media<br>
          coverage was of women’s sports.
        </p>
      
        <p class="paragraph3">
          larger social media following than<br>
          male athletes but women still get<br>
          less coverage.
        </p>
      </div>
              <p></p>
      <div>
    </div>
  

  