<div class="header" style="background-image: url(front.avif);">

      <div class="content"><br>
        <h1 class="headline">Olympic Games Paris 2024</h1>
      
        <p class="paragraph1">
          By Joseph Vishaal S<br>
          Published August 15, 2024 Last updated August 15, 2024  05:55
        </p>
  
        <p class="paragraph2">
          The game is changing. For the first time in history, the Paris 2024 Olympic
          and Paralympic Games will see an equal number of men and women
          competing. This 50:50 representation of athletes makes the Summer
          Games the first to reach gender equality.
        </p>
  
        <p class="paragraph2">
          Progress does not stop there. With an expected global audience of 3
          billion, this year’s Games have been deliberately scheduled to make
          possible more balanced coverage of all events, putting all athletes in the
          spotlight. The Games will also feature more women’s and mixed events,
          offering more opportunities for women to win medals.
        </p>

        <p class="Men"><i class="fas fa-plus fa-lg" style="color: #a1a1a1;"></i>&nbsp;&nbsp;&nbsp;Represents Men's Individual Sport&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-square fa-lg" style="color: #ff0000;"></i>&nbsp;&nbsp;&nbsp;India participation yes</p>
       <p class="Women"><i class="fas fa-circle fa-lg" style="color: #a3a5a8;"></i>&nbsp;&nbsp;&nbsp;Represents Women's Individual Sport&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-square fa-lg" style="color: #a0a4ab;"></i>&nbsp;&nbsp;&nbsp;India participation no</p>
       <p class="Mixed"><i class="fas fa-times fa-lg" style="color: #a0a2a6;"></i>&nbsp;&nbsp;&nbsp;Represents Mixed Sport</p>

      </div>
  </div>
  